In [17]:
import pandas as pd
import numpy as np
path = '/Users/fnoic/PycharmProjects/reconstruct/data/beams/aisc-shapes-database-v15.0.csv'

In [18]:
with open(path, 'r', newline='\n') as f:
    beams = pd.read_csv(f, header=0, sep=';')
    # retrieve name of first column
    uno = beams.columns[0]
    beams_frame = beams[[uno, 'AISC_Manual_Label', 'tw.1', 'tf.1', 'bf.1', 'd.1']]
    # rename columns
    beams_frame.columns = ['type', 'label', 'tw', 'tf', 'bf', 'd']
    # remove all "â€“", replace with nan
    beams_frame = beams_frame.replace('â€“', np.nan, regex=True)
    # replace all , with . for tw tf bf and d
    beams_frame = beams_frame.replace(',', '.', regex=True)
    # drop all rows with –
    beams_frame = beams_frame.replace('–', np.nan, regex=True)
    # convert to numeric in column tw
    beams_frame[['tw', 'tf', 'bf', 'd']] = beams_frame[['tw', 'tf', 'bf', 'd']].apply(pd.to_numeric)
    # beams_frame = beams_frame.apply(pd.to_numeric)

# divide the selected columns by 1000 to convert to mm
beams_frame[['tw', 'tf', 'bf', 'd']] = beams_frame[['tw', 'tf', 'bf', 'd']] / 1e3

In [20]:
beams_frame.to_pickle('/Users/fnoic/PycharmProjects/reconstruct/data/beams/beams_frame.pkl')

In [21]:
with open('/Users/fnoic/PycharmProjects/reconstruct/data/beams/beams_frame.pkl', 'rb') as f:
    beams_framey = pd.read_pickle(f)

In [22]:
beams_framey

      type         label      tw      tf     bf     d
0        W       W44X335  0.0262  0.0450  0.404  1.12
1        W       W44X290  0.0220  0.0401  0.401  1.11
2        W       W44X262  0.0199  0.0361  0.401  1.10
3        W       W44X230  0.0180  0.0310  0.401  1.09
4        W       W40X655  0.0500  0.0899  0.429  1.11
...    ...           ...     ...     ...    ...   ...
2088  PIPE      Pipe3XXS     NaN     NaN    NaN   NaN
2089  PIPE  Pipe2-1/2XXS     NaN     NaN    NaN   NaN
2090  PIPE      Pipe2XXS     NaN     NaN    NaN   NaN
2091   NaN           NaN     NaN     NaN    NaN   NaN
2092   NaN           NaN     NaN     NaN    NaN   NaN

[2093 rows x 6 columns]